body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
    color: #666666;
}

header{
    height: 120px;
    text-align: center;
    padding-top: 30px;
    padding-left: 3em;
    background-color: #002171;
    color: #ffffff;
}

header a:link{
    text-decoration: none;
    color: #ffffff;
}

header a:visited{
    text-decoration: none;
    color: #ffffff;
}

main{
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
    background-color: #ffffff;
    margin-right: 190px;
    margin-left: 190px;
    overflow: auto;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 3em;
    letter-spacing: 0.25em;
}

nav{
    font-weight: bold;
    padding: 1.5em;
    font-size: 120%;
    text-align: center;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    padding-right: 1.5em;
}

nav a:link{
    color: #5c7fa3
}

nav a:visited{
    color: #344873;
}

nav a:hover{
    color: #a52a2a;
    list-style-type: none;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

label{
    float: left;
    display: block;
    text-align: right;
    width: 140px;
    padding-right: 5px;
}

input, textarea{
    display: block;
    margin-bottom: 20px;
}

input[type="submit"]{
    margin-left: 140px;
}

#wrapper{
    width: 80%;
}